<div class="panel panel-info">
  <div class="panel-heading"> {{ posts[index].nomePessoa }} 
    <button (click)="onClickRemove(posts[index].id);"
            type="button" 
            class="close" 
            aria-label="Close" 
            style="float:right"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="panel-body">  {{ posts[index].texto }} </div>
  <div class="panel-footer"> {{ posts[index].qtdLikes }} Likes 
    <button (click)="deuLike(posts[index].id);" 
            type="button" 
            class="btn btn-primary btn-sm glyphicon glyphicon-thumbs-up clicavel">
    </button> 
    <button 
            type="button"  
            style="float:right"
            class="btn btn-warning btn-sm glyphicon glyphicon-pencil clicavel">
</button> 
  </div>
</div>