<div class="panel panel-info">
  <div class="panel-heading"> {{ posts[index].nomePessoa }} 
    <button (click)="onClickRemove();"
            type="button" 
            class="close" 
            aria-label="Close" 
            style="float:right"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="panel-body">  {{ posts[index].texto }} </div>
  <div class="panel-footer"> {{ posts[index].qtdLikes }} Likes 
    <button (click)="deuLike($event);" 
            type="button" 
            class="btn btn-primary btn-sm glyphicon glyphicon-thumbs-up clicavel">
    </button> 
  </div>
</div>